#archivos de instalación
node_modules/

#variables de entorno
.env

api/package-lock.json

api/config/account_transport.json

#paypal credentials
api/config/paypalcredentials.js

#Github credentials
client/src/utils/gitHubCredentials.js

#Cloudinary credentilas
api/config/cloudinarycredentials.js